.box {
  margin: 1em;
}

.tags {
  font-weight: 800;
} 

.button-dots {
  background: none;
  display: block;
  position: relative;
  border: none;
  cursor: pointer;
}

.avatar {
  width: 5em;
  height: 5em;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  margin: 0px 0 0 1em;
  float: left;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
}

#titulo-candidato {
  font-size: 1.5em;
  font-weight: bolder;
}

#txtNome {
  font-size: 1.15em;
  font-weight: 400;
}

ul li {
  display:inline-block;
  background-color: none;
  list-style-type: none;
  margin-right: 10px;
}