.slider {
  background: none;
  border: none;
}

.darkmode-button {
  height: 5em;
  width: 5em;
  border: none;
  font-size: 16px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  cursor: pointer
}

header {
  padding: 1rem;
  width: 100%;
  height: calc(100vh - 8em);
  margin-top: 1em;
  span{
    font-size: 3em;
  }
}

#dropdown-avatar {
  max-height: 10em;
  width: 10em;
  height: 10em;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  margin: 1em 1em 1em;
}


navbar-content {
  background: none;
  border: none;
  color: black;
  
  .link {
    color: black;
  }

}

#avatar {
  width: 5em;
  height: 5em;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
}




@media only screen and (max-width: 768px){
  header {
    padding: 2.5rem;
    height: auto;
  }
}



