@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.google.com/specimen/Bebas+Neue');

#form-post {
  margin-top: 3em;
}

#imgNonData {
  height: 20em;
  width: 20em;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  margin-top: -1em;
}

#txtNonData {
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 1em;
}