@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.google.com/specimen/Bebas+Neue');

#app {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #051c27;
}

@media only screen and (max-width: 820px){
  .box {
    margin: 1em 2em 3em!important;
  }

  .input-box { 
    padding: 0em!important;
    font-size: 0.75em!important;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(240, 240, 240);
}

main {
  --bg-primary: #051c27;;
  --txt-primary: #111;

  header {
    --bg-secondary: linear-gradient(82deg, rgb(158, 158, 158) 0%, #eee 70%);
    --txt-secondary: #111;
  }
}

main.dark-mode {
  --bg-primary: rgb(240, 240, 240);
  --txt-primary: #111;

  header.dark-mode {
    --bg-secondary: linear-gradient(82deg, rgb(4, 52, 80) 0%, #051c27 70%);
    --txt-secondary: #eee;
  }
}

#content-primary{
  background-color: var(--bg-primary);
  color: var(--txt-primary);
  height: 100vh;
}

@media only screen and (max-width: 820px){
  #content-primary{
    height: 50em;
  }
}

#content-secondary{
  background-color: var(--bg-primary);
  color: var(--txt-secondary);
  margin-top: 1em;
  margin-bottom: 1em;
  height: calc(100vh - 2em);

  &.fixed-top {
    position: fixed;
    display: block;
    overflow-y: auto;
  }
}

#form-post {
  margin-top: 3em;
}

#imgNonData {
  height: 20em;
  width: 20em;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  margin-top: -1em;
}

#txtNonData {
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 1em;
}
